




.breadcrumb-blk {
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__path {
        @include print-styles($secondary_font-regular);
        font-size: 18px;
        color: #fff;
        padding: 0 15px;
        position: relative;
        &:after {
            content: '/';
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        &:last-child {
            &:after {
                content: '';
            }
        }
    }
    &--active {
        color: #ddd78d;
    }
}