@import "../mixins/breakpoints";





.btn {
    border-radius: 1.5px;
    padding: 11px 25px;
    min-width: 256px;
    display: inline-block;
    @include print-styles($secondary_font-bold);
    line-height: 27px;
    font-size: 20px;
    min-height: 51px;
    // white-space: pre;
    @include media-max-lg {
        font-size: 16px;
    }
    @include media-max-sm {
        min-width: unset;
        width: 100%;
    }
    &.sw_bg-primary {
        transition: all 0.3s ease-in-out;
        &:hover {
            color: map-get($bg-colors, bg-primary);
        }
    }
}

.sw{
    &_bg-primary {
        background-color: map-get($bg-colors, bg-primary);
        color: #fff;
    }
    &_border-primary {
        border-color: map-get($bg-colors, bg-primary);
    }
    &_border-green {
        border-color: #052F2B;
    }
    &_bg-green {
        background-color: #052F2B;
        color: #fff;
    }
    &_text-green {
        color: #052F2B;
    }
    &_bg-transparent {
        background-color: transparent;
    }
    &_txt-custom {
        color: #a2abb0;
    }
    &_txt-primary {
        color: #ddd78d;
    }
}