



.footer-wrap {
    margin-top: 136px;
    background: url("../img/home-bg-choose-us.svg") no-repeat right top;
    background-size: cover;
    padding: 120px 0px;
    overflow-x: hidden;
    @include media-max-xl {
        padding: 75px 0;
    }
    @include media-max-md {
        padding: 50px 0;
    }
    @include media-max-sm {
        padding: 25px 0;
    }
    .footer-logo {
        max-width: 150px;
    }
    .footer-box {
        .title {
            margin: 0;
            @include print-styles($secondary_font-regular);  
            color: #DDD78D;
            font-size: 18px;
            // line-height: 44px;
        }
        .footer-link-blk {
            padding-top: 26px;
            .list-link {
                color: #fff;
                &:nth-child(even) {
                    margin: 24px 0px;
                    @include media-max-xl {
                        margin: 12px 0px;
                    }
                }
                &:last-child {
                    // @include media-min-xl {
                        margin-bottom: 0px;
                    // }
                }
                &--insdicator {
                    a {
                        border-bottom: 1px solid transparent;
                        padding-bottom: 5px;
                        transition: all 0.3s ease-in-out;
                        &:hover {
                            border-bottom-color: #fff;
                        }
                    }
                }
                &.contact-icon-box {
                    padding-left: 45px;
                    position: relative;
                    // &:before {
                    //     content: "";
                    //     background: url("../../../public/img/icon/message.png") no-repeat right top;
                    //     width: 30px;
                    //     height: 30px;
                    // }
                    // @include media-max-xl {
                    //     display: flex;
                    // }
                    div {
                        font-size: 18px;
                        @include print-styles($secondary_font-extralight);
                    }
                    span {
                        font-size: 18px;
                        @include print-styles($secondary_font-extralight);
                        @include media-min-xl {
                            max-width: 152px;
                        }
                        @include media-max-xl {
                            display: block;
                            text-align: start;
                        }
                    }
                    .icon {
                        display: inline-block;
                        width: 33px;
                        height: 32px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        // @include media-max-sm {
                        //     display: none;
                        // }

                    }
                }
                a {
                    font-size: 18px;
                    @include print-styles($secondary_font-extralight);
                    text-decoration: none;
                    color: #fff;
                    display: block;
                    font-size: 18px;
                }
                .office-time {
                    color: #fff;
                    @include print-styles($secondary_font-regular);
                }
                .contact-blk {
                    position: relative;
                    // padding-right: 30px;
                    @include print-styles($secondary_font-regular);
                    span {
                        position: absolute;
                        right: 12px;
                        top: 0;
                    }
                }
            }
        }
    }
    .footer-social-box {
        @include media-min-xl {
            flex-direction: column;
            position: absolute;
            max-width: 30px;
            margin-bottom: 0;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        @include media-max-xl {
            max-width: 250px;
        }
        @include media-max-xl {
            justify-content: space-between !important;
        }
        .icon-blk {
            &__list {
                @include media-max-xl {
                    min-width: 35px;
                }
                &:nth-child(even) {
                    @include media-min-xl {
                        padding: 13px 0;
                    }
                }
                &:last-child {
                    @include media-min-xl {
                        padding-bottom: 0px;
                    }
                }
                a {
                    width: 30px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // border-radius: 50%;
                    // border: 1px solid #fff;
                }
            }
        }
    }
}