


.gallery-wrap {
    padding-top: 136px;
    @include media-max-xl {
        padding: 136px 0 0;
    }
    @include media-max-lg {
        padding: 60px 0 0;
    }
    @include media-max-sm {
        padding: 75px 0 0;
    }
    .gallery-sec {
        .title {
            color: #052F2B;
            text-align: center;
            @include print-styles($primary_font-bold);
            font-size: 56px;
            margin: 0px;
            padding-bottom: 67px;
            @include media-max-xl {
                padding-bottom: 40px;
                font-size: 50px;
            }
            @include media-max-lg {
                padding-bottom: 30px;
                font-size: 37px;
            }
            @include media-max-md {
                font-size: 25px;
            }
        }
        .gallery-item-blk {
            padding-top: 24px;
            overflow-y: hidden;
            figure {
                position: relative;
                @include media-max-md {
                    text-align: center;
                }
                &:hover {
                    .fig-cap-data {
                        transform: translate(-50%, 0%);
                        background-image: linear-gradient(to top, #052F2B, transparent);
                    }
                }
                img {
                    max-width: 424px;
                    width: 100%;
                    object-fit: cover;
                    @include media-max-md {
                        max-width: 250px;
                        margin: 0 auto;
                    }
                }
                .fig-cap-data {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%, 100%);
                    padding: 32px 0;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    transition: all 0.3s ease-in-out;
                    color: #fff;
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    span {
                        @include print-styles($secondary_font-regular);
                    }
                    @include media-max-md {
                        font-size: 14px;
                    }
                }
            }
        }
        .gallery-load-more-blk {
            padding-top: 48px;
        }
    }
}


.tab-wrap {
    .tab-nav-block {
        border-bottom: 1px solid rgb(222, 226, 230);
        margin: 0 12px;
    }
    .nav {
        border: unset;
        &-tabs {
            justify-content: space-between;
            align-items: center;
            max-width: 1120px;
            margin: 0 auto;
        }
        &-link {
            font-size: 20px;
            color: #a2abb0;
            margin-bottom: 0px;
            padding-bottom: 30px;
            line-height: unset;
            border: 0px;
            border-bottom: 4px solid transparent;
            padding-top: 6px;
            @include print-styles($secondary_font-regular);
            @include media-max-lg {
                font-size: 15px;
            }
            &.active {
                color: #052F2B;
                border-color: #052F2B;
            }
            @include media-max-xl {
                padding-bottom: 15px;
            }
        }
    }
    .tab-content {
        padding-top: 56px;
        @include media-max-lg 
        {
            padding-top: 0px;
        }
    }
}