
@import url("https://use.typekit.net/wiu0hze.css");


$primary_font: playfair-display, serif;
// $secondary_font: "Pulp-Display";
$secondary_font: 'Noto Sans Display', sans-serif;;


$extra_light : 100;
$light : 300;
$regular : 400;
$medium : 500;
$semiBold : 600;
$bold : 700;
$extra_bold : 800;
// $OutlineItalic




// @font-face {
//     font-family: $secondary_font;
//     src: url("../font/PulpDisplay/PulpDisplay-ExtraLight.ttf") format("ttf");
//     font-weight: 100;
//     // font-style: normal;
// }


// @font-face {
//     font-family: $secondary_font;
//     src: url("../font/PulpDisplay/PulpDisplay-Light.ttf") format("ttf");
//     font-weight: 300;
//     // font-style: normal;
// }

// @font-face {
//     font-family: $secondary_font;
//     src: url("../font/PulpDisplay/PulpDisplay-Regular.ttf") format("ttf");
//     font-weight: 400;
//     // font-style: normal;
// }

// @font-face {
//     font-family: $secondary_font;
//     src: url("../font/PulpDisplay/PulpDisplay-Medium.ttf") format("ttf");
//     font-weight: 500;
//     // font-style: normal;
// }

// @font-face {
//     font-family: $secondary_font;
//     src: url("../font/PulpDisplay/PulpDisplay-SemiBold.ttf") format("ttf");
//     font-weight: 600;
//     // font-style: normal;
// }

// @font-face {
//     font-family: $secondary_font;
//     src: url("../font/PulpDisplay/PulpDisplay-Bold.ttf") format("ttf");
//     font-weight: 700;
//     // font-style: bold;
// }

// @font-face {
//     font-family: $secondary_font;
//     src: url("../font/PulpDisplay/PulpDisplay-ExtraBold.ttf") format("ttf");
//     font-weight: 800;
//     // font-style: normal;
// }
